In [1]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt

In /home/ubuntu/anaconda3/envs/tf2_pcse/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/ubuntu/anaconda3/envs/tf2_pcse/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/ubuntu/anaconda3/envs/tf2_pcse/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In /home/ubuntu/anaconda3/envs/tf2_pcse/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/ubuntu/anaconda3/envs/tf2_pcse/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/ubuntu/anaconda3/envs/tf2_pcse/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/ubuntu/anaconda3/envs/tf2_pcse/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/ubuntu/anaconda3/envs/tf2_pcse/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
import pcse

### Test PCSE

In [3]:
pcse.test()

runTest (pcse.tests.test_abioticdamage.Test_FROSTOL) ... ok
runTest (pcse.tests.test_partitioning.Test_DVS_Partitioning) ... ok
runTest (pcse.tests.test_evapotranspiration.Test_PotentialEvapotranspiration) ... ok
runTest (pcse.tests.test_evapotranspiration.Test_WaterLimitedEvapotranspiration1) ... ok
runTest (pcse.tests.test_evapotranspiration.Test_WaterLimitedEvapotranspiration2) ... ok
runTest (pcse.tests.test_respiration.Test_WOFOSTMaintenanceRespiration) ... ok
runTest (pcse.tests.test_penmanmonteith.Test_PenmanMonteith1) ... ok
runTest (pcse.tests.test_penmanmonteith.Test_PenmanMonteith2) ... ok
runTest (pcse.tests.test_penmanmonteith.Test_PenmanMonteith3) ... ok
runTest (pcse.tests.test_penmanmonteith.Test_PenmanMonteith4) ... ok
runTest (pcse.tests.test_agromanager.TestAgroManager1) ... ok
runTest (pcse.tests.test_agromanager.TestAgroManager2) ... ok
runTest (pcse.tests.test_agromanager.TestAgroManager3) ... ok
runTest (pcse.tests.test_agromanager.TestAgroManager4) ... ok
runTest (pcse.tests.test_agromanager.TestAgroManager5) ... ok
runTest (pcse.tests.test_agromanager.TestAgroManager6) ... ok
runTest (pcse.tests.test_agromanager.TestAgroManager7) ... ok
runTest (pcse.tests.test_agromanager.TestAgroManager8) ... ok
runTest (pcse.tests.test_wofost.TestPotentialWinterWheat) ... /home/ubuntu/anaconda3/envs/tf2_pcse/lib/python3.6/site-packages/sqlalchemy/sql/sqltypes.py:603: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  'storage.' % (dialect.name, dialect.driver))
ok
runTest (pcse.tests.test_wofost.TestPotentialSpringBarley) ... ok
runTest (pcse.tests.test_wofost.TestPotentialPotato) ... ok
runTest (pcse.tests.test_wofost.TestWaterlimitedSpringBarley) ... ok
runTest (pcse.tests.test_wofost.TestWaterlimitedSunflower) ... ok
runTest (pcse.tests.test_wofost.TestWaterlimitedPotato) ... ok
runTest (pcse.tests.test_wofost.TestWaterlimitedGrainMaize) ... ok
runTest (pcse.tests.test_wofost.TestPotentialGrainMaize) ... ok
runTest (pcse.tests.test_wofost.TestPotentialSunflower) ... ok
runTest (pcse.tests.test_wofost.TestWaterlimitedWinterWheat) ... ok
runTest (pcse.tests.test_wofost.TestPotentialWinterRapeseed) ... ok
runTest (pcse.tests.test_wofost.TestWaterlimitedWinterRapeseed) ... ok
runTest (pcse.tests.test_lintul3.TestLINTUL3_SpringWheat) ... ok
runTest (pcse.tests.test_wofost_npk.TestWOFOSTNPK_WinterWheat) ... ok

----------------------------------------------------------------------
Ran 32 tests in 29.680s

OK

### Quick start

In [4]:
wofost_object = pcse.start_wofost(grid=31031, crop=1, year=2000, mode='wlp')

/home/ubuntu/anaconda3/envs/tf2_pcse/lib/python3.6/site-packages/sqlalchemy/sql/sqltypes.py:603: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  'storage.' % (dialect.name, dialect.driver))

In [5]:
type(wofost_object)

pcse.models.Wofost71_WLP_FD

In [6]:
wofost_object.run() # one day

In [7]:
wofost_object.run(days=10)

In [8]:
wofost_object.get_variable('LAI')

0.2870809817505803

In [9]:
wofost_object.run(days=25)
wofost_object.get_variable('LAI')

1.5281221557442748

In [10]:
wofost_object.run_till_terminate()

In [11]:
output = wofost_object.get_output()

In [12]:
output[0]

{'day': datetime.date(2000, 1, 1),
 'DVS': 0.0,
 'LAI': 0.14468999999999999,
 'TAGP': 105.0,
 'TWSO': 0.0,
 'TWLV': 68.25,
 'TWST': 36.75,
 'TWRT': 105.0,
 'TRA': 0.005768242284916577,
 'RD': 10.0,
 'SM': 0.25,
 'WWLOW': 19.09}

In [13]:
output_df = pd.DataFrame(output).set_index('day')
output_df.head()

,DVS,LAI,TAGP,TWSO,TWLV,TWST,TWRT,TRA,RD,SM,WWLOW
day,,,,,,,,,,,
2000-01-01,0.000000,0.144690,105.000000,0.0,68.250000,36.750000,105.000000,0.005768,10.0,0.250000,19.090000
2000-01-02,0.008867,0.154184,111.889710,0.0,72.728312,39.161399,111.889710,0.003312,11.2,0.253925,18.337965
2000-01-03,0.017157,0.164025,119.031178,0.0,77.370266,41.660912,119.031178,0.002589,12.4,0.258804,18.322171
2000-01-04,0.024293,0.173908,126.203520,0.0,82.032288,44.171232,126.203520,0.006309,13.6,0.263165,18.311042
2000-01-05,0.032706,0.185033,134.276367,0.0,87.279639,46.996729,134.276367,0.003616,14.8,0.266002,18.287827

In [14]:
summary_output = wofost_object.get_summary_output()

In [15]:
summary_output

[{'DVS': 2.0,
  'LAIMAX': 6.132713013415593,
  'TAGP': 15261.754008006246,
  'TWSO': 7179.804492059393,
  'TWLV': 3029.3704738986926,
  'TWST': 5052.579042048161,
  'TWRT': 1546.9912279812847,
  'CTRAT': 22.457533447526988,
  'RD': 60.0,
  'DOS': None,
  'DOE': datetime.date(2000, 1, 1),
  'DOA': datetime.date(2000, 3, 28),
  'DOM': datetime.date(2000, 5, 31),
  'DOH': None,
  'DOV': None}]